In [3]:
import utm
import hmdb

In [4]:
# Delete the old dataframes to cleanup and prevent any overlap
if 'atlas' in locals() or 'atlas' in globals(): del atlas
if 'filtered_df' in locals() or 'filtered_df' in globals(): del filtered_df

# Read my database and pull into a dataframe
atlas_filename = "atlas_db.csv"
atlas = hmdb.read_atlas(atlas_filename)

In [5]:
filtered_df = atlas[(atlas['ref:hmdb'].notna()) & (atlas['isHMDB'] == True)]

if filtered_df.empty:
    print("The DataFrame is empty")
else:
    print(f"There are {filtered_df.shape[0]} rows in the filtered dataframe meeting the criteria")

There are 11182 rows in the filtered dataframe meeting the criteria

In [6]:
updated_nodes = []
filtered_df["ref:US-TX:thc"].list()

AttributeError: 'Series' object has no attribute 'list'

In [8]:
for index, row in filtered_df.iterrows():
    latitude = row['hmdb:Latitude']
    longitude = row['hmdb:Longitude']
    easting, northing, zone_number, zone_letter = utm.from_latlon(latitude, longitude)
    print("Name:", row['name'])
    print("Easting:", easting)
    print("Northing:", northing)
    print("Zone Number:", zone_number)
    print("Zone Letter:", zone_letter)

Name: Hood Cemetery
Easting: 671373.3725328423
Northing: 3648482.196266338
Zone Number: 14
Zone Letter: S
Name: Old Hico
Easting: 593388.3988910455
Northing: 3535251.038191607
Zone Number: 14
Zone Letter: R
Name: Absalom H. Chivers Cemetery
Easting: 674085.7637908198
Northing: 3648205.943422552
Zone Number: 14
Zone Letter: S
Name: White's Chapel Cemetery
Easting: 672856.1108577803
Northing: 3646222.330172726
Zone Number: 14
Zone Letter: S
Name: Medlin Cemetery
Easting: 669087.8099536529
Northing: 3652530.400559481
Zone Number: 14
Zone Letter: S
Name: Elizabeth Cemetery
Easting: 661484.5867858633
Northing: 3654370.93284355
Zone Number: 14
Zone Letter: S

OutOfRangeError: latitude out of range (must be between 80 deg S and 84 deg N)